# gradle generated
.gradle

# local properties
/local.properties

# user specific configurations
.idea/*
*.iml

# OS specific
.DS_Store

# app generated
/build
/captures
app/release/*

# app secrets
token.xml

projectFilesBackup/*
/traces
app/src/main/assets/licenses.html

# not ignored
!.idea/codeStyleSettings.xml
!.idea/codeStyles/codeStyleConfig.xml