# gradle generated
.gradle

# local properties
/local.properties

# user specific configurations
.idea/copyright
.idea/libraries
.idea/.name
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/tasks.xml
.idea/vcs.xml
.idea/workspace.xml
*.iml

# OS specific
.DS_Store

# app generated
/build
/captures

# app secrets
token.xml