<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.freshdigitable.udonroad" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OAuthActivity"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="twitter"
                    android:scheme="udonr" />
            </intent-filter>
        </activity>

        <activity android:name=".MediaViewActivity"
            android:theme="@style/Theme.AppTheme.TranslucentStatusBar"/>

        <activity android:name=".UserInfoActivity"/>

        <activity android:name=".ReplyActivity" />

        <activity android:name=".LicenseActivity"/>
    </application>

</manifest>
